{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <!-- CSS are placed here -->
    <link media="all" type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    
    <!-- Scripts are placed here -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}" defer></script>
    <script src="{% static "js/index.js"%}"></script>
</head>
<body>

    <div class="btn-group" role="group">
        
        <h2 id="login_button" class="btn btn-info">
            <span class="glyphicon glyphicon-pencil"></span>
            Log In
        </h2>
        <h2 id="signup_button" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span>
            Signup
        </h2>
    </div>
    <hr />

    <div class="row col-md-6">
        <div id="signup_modal" class="panel panel-success views">

            <div class="panel-heading panel-title">
                <span class="glyphicon glyphicon-user"></span>
                Signup
            </div>

            <div class="panel-body">
                <form action="/users/signup" method="POST">
                    {% csrf_token %}
                    
                    {{create_form}}

                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        sign up
                    </button>
                </form>
            </div>

        </div>

        <div id="login_modal" class="panel panel-info views">

            <div class="panel-heading panel-title">
                <span class="glyphicon glyphicon-user"></span>
                Login
            </div>

            <div class="panel-body">
                <form action="/users/login" method="POST">
                    {% csrf_token %}

                    {{  login_form }}

                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        login
                    </button>
                </form>
            </div>

        </div>
    </div>

</body>
</html>
