{% extends base_template %}

{% block title %}Profile - {% endblock %}

{% block content %}
	{%  load bootstrap %}

<div class="well">
	<a class="ajax" href="/users/changepassword">
		Change Password
	</a>
</div>

<div class="panel panel-default">

	<div class="panel-heading panel-title">
		<span class="glyphicon glyphicon-user"></span>
		Profile 
	</div>

	<div class="panel-body">
		<form action="/users/profile" method="POST">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ next_url }}" />

		{% boot_form_fields form %}

		<button type="submit" class="btn btn-default">
			<span class="glyphicon glyphicon-share-alt"></span>
			Save 
		</button>

		</form>
	</div>

	<div class="panel-footer">
		&nbsp;
	</div>

</div>
{% endblock %}
